body {
    background-image: url(body_bg_page.jpg);
    background-repeat: repeat-y;
    background-position: 100% 0;
    background-color: #fff;
}

h1 {
    text-align: center;
    color: #eee;
    font-size: 32px;
    border-bottom: 1px blue solid;
    width: 700px;
    padding-bottom: 5px;
    margin: 10px auto;
}

p {
    color: black;
    line-height: 1.5;
}
